.cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.monitor{
    background-color: #fff;
    width: 95%; 
    height: 650px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#saveButton {
    display: flex;
    flex-wrap: nowrap;
    background-color: orange;
    justify-content: center;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
}

#saveButton:hover {
    background-color: darkorange;
}

#Title {
    text-align: center;
    
}

#questionList {
    width: 90%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    overflow-y: scroll;
}

.questionsContainer{
    display: flex;
    justify-content: center;
    width: 95%;
    height: 90%;
    overflow-y: scroll;
}

.headerContainer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 50px;
}

#questionList h2 {
    text-align: center;
}

.question {
    background-color: rgba(13, 36, 50, 0.589);
    border: 2px solid black;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}


.question input[type="text"] {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    height: 25px;
    background-color: white;
}

.inputstyle{
    border-radius: 8px;
    border-color: rgb(73, 73, 73);
}

.option-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.option-wrapper input[type="text"] {
    flex: 1;
    margin-right: 5px;
    padding: 5px;
    width: 300px;
}

.option-wrapper input[type="checkbox"] {
    margin-left: 5px;
    align-items:flex-start;
}

.option-wrapper label {
    width: 70px;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

.correct-option {
    color: rgb(8, 176, 8);
}

.incorrect-option {
    color: red;
}

#addQuestion {
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
    align-items: center;
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    float: right;
}

#addQuestion:hover {
    background-color: darkgreen;
}

.plus{
    padding-top: 2px;
    margin-right: 3px;
}

.save{
    margin-top: 5px;
    margin-left: 3px;
}

.deletePreguntaButton {
    border: solid;
    border-color: rgb(155, 20, 20);
    color: white;
    background-color: rgb(234, 25, 25);
    padding: 1px 9px 3px;
    cursor: pointer;
    border-radius: 100%;
    float: right;
    margin-bottom: 10px;
}

.deletePreguntaButton:hover {
    background-color: rgb(139, 28, 3);
}

.legend{
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
    width: 40%;
    padding-left: 7px;
    color: rgb(33, 33, 33);
    margin: 0px;
}