footer {
    background-color: whitesmoke;
    padding: 5pt;
}

.no-transition {
    transition: none !important;
}

.square-img-container {
position: relative;
width: 100%;
padding-top: 100%; /* 1:1 Aspect Ratio */
overflow: hidden;
}

.square-img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover; /* This ensures the image covers the area without distortion */
}

button.card {
border: 1px solid rgba(0,0,0,.125);
background-color: white;
padding: 0;
text-align: left;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button.card:hover {
transform: translateY(-5px);
box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.card-body {
padding: 1rem;
}

/* Make sure form takes full width of its container */
.forms {
width: 100%;
height: 100%;
}

.dar-de-alta-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
    width: 100%;
}

.forms-container{
    margin: 20px;
    width: 35rem;
}


.img-container{
    width: 13rem;
    height: 13rem;
    border: solid;
}

.alumno-list{
    display: flex;
    width: auto;
    height: auto;
    gap: 20px;
}

.alumno-name{
    display: flex;
    align-items: center;
    width: 15rem;
    padding: 5px;
    margin: 2px;
    white-space: nowrap;
}

.alumno-space{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.navborder{
    border-bottom: solid;
    border-color: rgb(232, 232, 232);
    background-color: #ecf5ff;
}

.sideborder{
    border-right: solid;
    padding: 0px;
    border-color: rgb(232, 232, 232);
}

.button-container{
    display: flex;
    width: auto;
    flex-wrap: nowrap;
}

.anchor{
    display: flex;
    align-items: center;
}

.pfp{
    border: transparent;
    border-radius: 100%;
    padding: 5px;
}

.pfp2{
    height: 50px;
    width: 50px;
    border: transparent;
    border-radius: 100%;
    padding: 5px;
}