{% extends "cursos.html" %}

{% block title %}
  Crear modulo
{% endblock %}

{% block header %}
  Crear modulo
{% endblock %}

{% block sidebar_btns %}
{% if id_rol == 2 %}
<a
href="{{ url_for('crear_curso_form') }}"
class="btn {% if session['section'] == 'creacion_curso' %}btn-warning{% else %}btn-light{% endif %} text-start m-1"
>
<i class='bx bx-book-add'></i>
    Crear Curso
</a>

<p style="margin: 10px 10px 5px 0px; padding: auto;">Estudiantes</p>

<a
href="{{ url_for('alta') }}"
class="btn {% if session['section'] == 'Dar de Alta' %}btn-warning{% else %}btn-light{% endif %} text-start m-1"
>
<i class='bx bx-user-plus'></i>
    Dar de alta
</a>
{% endif %}

{% if id_rol == 3 %}
<p style="margin: 10px 10px 5px 0px; padding: auto;">Estudiantes</p>
<a
href="{{ url_for('visualizar_alumnos') }}"
class="btn {% if session['section'] == 'Vista_alumnos' %}btn-warning{% else %}btn-light{% endif %} text-start m-1"
>
<i class='bx bxs-user-detail'></i>
    Alumnos
</a>
{% endif %}

{% endblock %}

{% block content %}
<div class="cuerpo">
  <link rel="stylesheet" href="/static/css/creacion_modulos_styles.css">
  <div class="monitor">
    <div id="listaModulosView">
      <h1 class="headers">Módulos</h1>
      <ul id="lista-modulos"></ul>
      <button id="btnAgregar"><i class='bx bx-plus'></i></button>
      <button id="btnListo">Listo</button>
    </div>
    <div id="edicionModuloView" class="oculto">
      <h2 class="headers" id="tituloEdicion">Editar: (Módulo)</h2>
      <div class="contenedor-tarjetas" id="contenedorTarjetas"></div>
      <button id="btnAgregarTarjeta"><i class='bx bx-plus'></i></button>
      <button id="btnGuardar" >Guardar</button>
    </div>
  </div>
  <script src="/static/js/creacion_modulos.js"></script>
</div>
{% endblock %}