{% extends "cursos.html" %}

{% block title %}
  {% if id_curso %}
    Editar Curso
  {% else %}
    Crear Curso
  {% endif %}
{% endblock %}


{% block header %}
  {% if id_curso %}
  Editar Curso
  {% else %}
  Crear Curso
  {% endif %}
{% endblock %}


{% block content %}
<input type="hidden" id="curso-nombre" value="{{ curso[0] if curso else '' }}">
<input type="hidden" id="curso-descripcion" value="{{ curso[1] if curso else '' }}">
<input type="hidden" id="curso-imagen" value="{{ curso[2] if curso else '' }}">
<input type="hidden" id="curso-id" value="{{ id_curso if id_curso else '' }}">

<div class="container" id="container">
  <link rel="stylesheet" href="/static/css/creacion_cursos_styles.css">
  <h1 class="headers" id = "form-title">Crear Curso</h1>
  <div class="thingContainer">
    <div class="courseInfoContainer">
      <label for="course-name" class="etiquetaInfo">Nombre del curso</label>
      <input class="inputs" type="text" id="course-name" name="course-name" placeholder="Título del curso">
      
      <label for="description" class="etiquetaInfo">Descripción</label>
      <input class="inputs" type="text" id="description" name="description" placeholder="Breve descripción">
    </div>
    <div class="dividingLine"></div>
    <div class="imageAreaContainer">
      <label class="etiqueta">Imagen</label>
      
      <div class="image-upload">
        <input type="file" class="imageInput" accept="image/*">
        <img class="imagePreview" id="imagePreview" src="">
      </div>
    </div>
  </div>
  <!-- El botón "Siguiente" validará datos antes de redirigir -->
  <button class="next-button" onclick="validarDatos()">Siguiente</button>
</div>

<script src="/static/js/creacion_cursos.js"></script>
{% endblock %}