{% extends "cursos.html" %}

{% block title %}
  {% if id_curso %}
    Editar Modulo
  {% else %}
    Crear Modulo
  {% endif %}
{% endblock %}


{% block header %}
  {% if id_curso %}
  Editar Modulo
  {% else %}
  Crear Modulo
  {% endif %}
{% endblock %}


{% block content %}
<div class="cuerpo">
  <link rel="stylesheet" href="/static/css/creacion_modulos_styles.css">
  <div class="monitor">

    <div id="listaModulosView">
      <h1 class="headers" id="modulo-header">Módulos</h1>
      <ul id="lista-modulos"></ul>
      <button id="btnAgregarModulo" class="AddButton"><i class='bx bx-plus'></i></button>
      <button id="btnListo">Listo</button>
    </div>

    <div id="edicionModuloView" class="oculto">
      <h1 class="headers" id="tituloEdicion">Editar: (Módulo)</h1>
      <div id="contenedorTarjetas"></div>
      <div class="buttonContainer">
        <button id="btnAgregarTarjeta" class="AddButton"><i class='bx bx-plus'></i></button>
        <button id="btnGuardarTarjeta" class = 'SaveButton'>Guardar</button>
      </div>
    </div>

    <div id="edicionLecturaView" class="oculto">
      <h1 class="headers" id="tituloEdicion">Editar Lectura</h1>
      <div class="contenedor-paginas" id="contenedorPaginas"></div>
      <button id="btnAnadirPag" class="AddButton"><i class='bx bx-plus'></i></button>
      <button id="btnGuardarPag" class = 'SaveButton'>Listo</button>
    </div>

  </div>
  <script src="/static/js/creacion_modulos.js"></script>
</div>
{% endblock %}
