{% extends "cursos.html" %}

{% block title %}
  Crear modulo
{% endblock %}

{% block header %}
  Crear modulo
{% endblock %}


{% block content %}
<div class="cuerpo">
  <link rel="stylesheet" href="/static/css/creacion_modulos_styles.css">
  <div class="monitor">
    <div id="listaModulosView">
      <h1 class="headers">Módulos</h1>
      <ul id="lista-modulos"></ul>
      <button id="btnAgregar"><i class='bx bx-plus'></i></button>
      <button id="btnListo">Listo</button>
    </div>
    <div id="edicionModuloView" class="oculto">
      <h2 class="headers" id="tituloEdicion">Editar: (Módulo)</h2>
      <div class="contenedor-tarjetas" id="contenedorTarjetas"></div>
      <button id="btnAgregarTarjeta"><i class='bx bx-plus'></i></button>
      <button id="btnGuardar" >Guardar</button>
    </div>
  </div>
  <script src="/static/js/creacion_modulos.js"></script>
</div>
{% endblock %}