{% extends "base.html" %}

{% block title %}
  Cursos
{% endblock %}

{% block header %}
  Cursos
{% endblock %}

{% block sidebar_btns %}
{% if id_rol == 2 %}
<a
href="{{ url_for('crear_curso_form') }}"
class="btn {% if session['section'] == 'creacion_curso' %}btn-warning{% else %}btn-light{% endif %} text-start m-1"
>
<i class='bx bx-book-add'></i>
    Crear Curso
</a>

<p style="margin: 10px 10px 5px 0px; padding: auto;">Estudiantes</p>

<a
href="{{ url_for('alta') }}"
class="btn {% if session['section'] == 'Dar de Alta' %}btn-warning{% else %}btn-light{% endif %} text-start m-1"
>
<i class='bx bx-user-plus'></i>
    Dar de alta
</a>
{% endif %}

{% if id_rol == 3 %}
<p style="margin: 10px 10px 5px 0px; padding: auto;">Estudiantes</p>
<a
href="{{ url_for('visualizar_alumnos') }}"
class="btn {% if session['section'] == 'Vista_alumnos' %}btn-warning{% else %}btn-light{% endif %} text-start m-1"
>
<i class='bx bxs-user-detail'></i>
    Alumnos
</a>
{% endif %}

{% endblock %}

{% block content %}
{% if id_rol == 1 %}
<p class="text-secondary">Aquí encontrarás todos los cursos que te han sido asignados.</p>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for curso in cursos %}
    <div class="col">
      <form action="{{ url_for('cursos') }}" method="post">
        <input type="hidden" name="id_curso" value="{{ curso[0] }}">
        <button type="submit" class="card h-100 w-100">
          <div class="square-img-container">
            <img class="card-img-top square-img" src="{{ curso[3] }}" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ curso[1] }}</h5>
            <p class="card-text">{{ curso[2] }}</p>
          </div>
        </button>
      </form>
    </div>
  {% endfor %}
</div>
{% endif %}

{% if id_rol == 2 or id_rol == 3%}
<p class="text-secondary">Aquí puedes visualizar todos los cursos que han sido creados.</p>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for curso in cursos %}
    <div class="col">
      <form action="{{ url_for('cursos') }}" method="post">
        <input type="hidden" name="id_curso" value="{{ curso[0] }}">
        <button type="submit" class="card h-100 w-100">
          <div class="square-img-container">
            <img class="card-img-top square-img" src="{{ curso[3] }}" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ curso[1] }}</h5>
            <p class="card-text">{{ curso[2] }}</p>
          </div>
        </button>
      </form>
    </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}

