{% extends "base.html" %}

{% block title %}
  Cursos
{% endblock %}

{% block header %}
  Cursos
{% endblock %}


{% block content %}
{% if id_rol == 1 %}
<p class="text-secondary">Aquí encontrarás todos los cursos que te han sido asignados. Haz clic en un curso para entrar en él.</p>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for curso in cursos %}
    <div class="col">
      <a href="{{ url_for('vista_curso', id_curso=curso[0]) }}" class="link-offset-2 link-underline link-underline-opacity-0">
        <div class="card h-100 w-100">
          <div class="square-img-container">
            <img class="card-img-top square-img" src="{{ curso[3] }}" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ curso[1] }}</h5>
            <p class="card-text">{{ curso[2] }}</p>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
{% endif %}

{% if id_rol == 2 or id_rol == 3%}
<p class="text-secondary">Aquí puedes visualizar todos los cursos que han sido creados. Haz clic en un curso para asignar o remover alumnos de él y/o visualizar sus contenidos.</p>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for curso in cursos %}
    <div class="col">
      <a href="{{ url_for('vista_curso', id_curso=curso[0]) }}" class="link-offset-2 link-underline link-underline-opacity-0">
        <button type="submit" class="card h-100 w-100">
          <div class="square-img-container">
            <img class="card-img-top square-img" src="{{ curso[3] }}" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ curso[1] }}</h5>
            <p class="card-text">{{ curso[2] }}</p>
          </div>
        </button>
      </a>
    </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}

