{% extends "base.html" %}

{% block title %}
  Dar de Alta
{% endblock %}

{% block header %}
  Dar de Alta
{% endblock %}

{% block sidebar_btns %}
{% if id_rol == 2 %}
<a
href="{{ url_for('crear_curso_form') }}"
class="btn {% if session['section'] == 'creacion_curso' %}btn-warning{% else %}btn-light{% endif %} text-start m-1"
>
<i class='bx bx-book-add'></i>
    Crear Curso
</a>

<p style="margin: 10px 10px 5px 0px; padding: auto;">Estudiantes</p>

<a
href="{{ url_for('alta') }}"
class="btn {% if session['section'] == 'Dar de Alta' %}btn-warning{% else %}btn-light{% endif %} text-start m-1"
>
<i class='bx bx-user-plus'></i>
    Dar de alta
</a>
{% endif %}

{% if id_rol == 3 %}
<p style="margin: 10px 10px 5px 0px; padding: auto;">Estudiantes</p>
<a
href="{{ url_for('visualizar_alumnos') }}"
class="btn {% if session['section'] == 'Vista_alumnos' %}btn-warning{% else %}btn-light{% endif %} text-start m-1"
>
<i class='bx bxs-user-detail'></i>
    Alumnos
</a>
{% endif %}

{% endblock %}

{% block content %}
  <div class="forms-container">
    <form class="forms" action="{{ url_for('alta') }}" method="post">
      <div class="col-sm-12 col-md-7 col-lg-6">
        <p style="margin: 10px 10px 10px 10px; padding: auto; width: 25rem;">Nombre del estudiante que se agregara</p>
        <input type="text" id="new_user" name="new_user" class="form-control mb-2 ms-2" placeholder="Nombre de estudiante" required>
        <p style="margin: 10px 10px 10px 10px; padding: auto; width: 25rem;">Telefono del estudiante</p>
        <input type="text" id="phone_num" name="phone_num" class="form-control mb-2 ms-2" placeholder="Numero celular" required>
        <p style="margin: 10px 10px 10px 10px; padding: auto; width: 25rem;">Correo que se le asignara</p>
        <input type="text" id="new_mail" name="new_mail" class="form-control mb-2 ms-2" placeholder="Correo" required>
        <p style="margin: 10px 10px 10px 10px; padding: auto; width: 25rem;">Rol del empleado</p>
        <div class="dropdown">
          <select class="btn btn-warning dropdown-toggle mb-2 ms-2" name="rol_type" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" required>
            <option value="">Seleccione un rol</option>
            <option value="3" aria-current="false"> Profesor </option>
            <option value="1" aria-current="false"> Estudiante </option>
          </select>
        </div>
        <p style="margin: 10px 10px 10px 10px; padding: auto; width: 25rem;">Contraseña para su correo de estudiante</p>
        <input type="password" id="new_pswd" name="new_pswd" class="form-control mb-2 ms-2" placeholder="Contraseña" required>
      </div>
      <br>
      <button class="btn btn-primary  mb-2 ms-2" type="submit">Agregar Alumno</button>
    </form>
  </div>
  {% if saved == 'True' %}
  <div class="alert alert-success" role="alert">
        El alumno se guardo correctamente
  </div>
  {% endif %}

  {% if saved == 'False' %}
  <div class="alert alert-danger" role="alert">
    Este correo ya esta asignado a otro alumno
  </div>
  {% endif %}
</div>
{% endblock %}