{% extends "base.html" %}
{% block title %}
TecniCORE - Inicio
{% endblock %}

{% block header %}
TecniCORE - Inicio
{% endblock %}

{% block content %}

{% if id_rol == 1 %}
<h1>¡Bienvenido/a a Whirlpool TecniCORE, Técnico {{ session['name'] }}!</h1>
<br>
<p>Como <b>estudiante</b>, estas son las acciones que puedes realizar:</p>
<br>
<ol>
    <li>
        <h5>Ver cursos asignados</h5>
        <p>Si haces click en el botón de <i class='bx bx-home-alt'></i> <b>Cursos</b> situado en la barra lateral, puedes observar los cursos que te han sido asignados.</p>
    </li>
    <br>
    <li>
        <h5>Acceder a un curso</h5>
        <p>Al hacer click en uno de tus cursos asignados, puedes accederlo y ver tu progreso y los módulos del curso con sus respectivas lecciones.</p>
    </li>
    <br>
    <li>
        <h5>Completar lecciones</h5>
        <p>Para completar una lección, haz click en ella y complétala para aumentar tu progreso. Hay tres tipos de lecciones:</p>
        <ul>
            <li><i class='bx bx-book-open'></i> <b>Lecturas:</b> Lee las páginas con información importante.</li>
            <li><i class='bx bxs-videos' ></i> <b>Videos:</b> Observa el video hasta el final para completar la lección.</li>
            <li><i class='bx bx-question-mark' ></i> <b>Cuestionarios:</b> Contesta todas las preguntas del cuestionario y recibe tu calificación y retroalimentación al terminar.</li>
        </ul>
    </li>
    <li>
        <h5>Practicar en WhirlPlay</h5>
        <p>Puedes practicar tus conocimientos de forma divertida haciendo click en el botón de <i class='bx bx-play'></i> <b>WhirlPlay</b>. En WhirlPlay, puedes jugar a los siguientes juegos:</p>
        <ul>
            <li><b>Verdadero o Falso:</b> Recibirás una lista de preguntas en el formato verdadero-falso, y será tu trabajo determinar la veracidad del enunciado.</li>
            <li><b>Memorama:</b> Tendrás que completar un memorama temático sobre distintos electrodomésticos y sus piezas correspondientes.</li>
            <li><b>Cuestionario General:</b> Pon a prueba tu conocimiento con un cuestionario sobre diversos temas. ¿Cuántas preguntas podrás responder correctamente?</li>
        </ul>
    </li>
</ol>
<br>
<p>Si tienes alguna duda, contacta a tu instructor o a un administrador.</p>
{% endif %}
{% if id_rol == 3 %}
<h1>¡Bienvenido/a a Whirlpool TecniCORE, Profesor {{ session['name'] }}!</h1>
<br>
<p>Como <b>instructor</b>, estas son las acciones que puedes realizar:</p>
<br>
<ol>
    <li>
        <h5>Ver catálogo de cursos</h5>
        <p>Si haces click en el botón de <i class='bx bx-home-alt'></i> <b>Cursos</b> situado en la barra lateral, puedes observar el catálogo de cursos de la plataforma.</p>
    </li>
    <br>
    <li>
        <h5>Asignar o remover estudiantes de un curso</h5>
        <p>Al hacer click en uno de los cursos, puedes asignar (+) o remover (-) estudiantes de él.</p>
    </li>
    <br>
    <li>
        <h5>Visualizar lecciones</h5>
        <p>Para visualizar el contenido de una lección, haz click en ella. Puedes completarla como si fueras un estudiante. Hay tres tipos de lecciones:</p>
        <ul>
            <li><i class='bx bx-book-open'></i> <b>Lecturas:</b> Contienen páginas con texto e imágenes.</li>
            <li><i class='bx bxs-videos' ></i> <b>Videos:</b> El estudiante debe observar el video hasta el final para completar la lección.</li>
            <li><i class='bx bx-question-mark' ></i> <b>Cuestionarios:</b> El estudiante contesta todas las preguntas del cuestionario y recibe su calificación y retroalimentación al terminar.</li>
        </ul>
    </li>
    <br>
    <li>
        <h5>Ver alumnos</h5>
        <p>Si haces click en el botón de <i class='bx bxs-user-detail'></i> <b>Alumnos</b> situado en la barra lateral, puedes ver los estudiantes dados de alta en la plataforma.</p>
    </li>
    <br>
    <li>
        <h5>Ver desempeño</h5>
        <p>Al hacer click en el botón de <i class='bx bxs-star'></i> <b>Desempeño</b> en la barra lateral, podrás ver diferentes métricas para monitorear el desempeño de los alumnos.</p>
    </li>
</ol>
<br>
{% endif %}
{% if id_rol == 2 %}
<h1>¡Bienvenido/a a Whirlpool TecniCORE, Administrador {{ session['name'] }}!</h1>
<br>
<p>Como <b>administrador</b>, estas son las acciones que puedes realizar en la plataforma:</p>
<br>
<ol>
    <li>
        <h5>Ver catálogo de cursos</h5>
        <p>Si haces click en el botón de <i class='bx bx-home-alt'></i> <b>Cursos</b> situado en la barra lateral, puedes observar el catálogo de cursos de la plataforma.</p>
    </li>
    <br>
    <li>
        <h5>Crear cursos</h5>
        <p>Al hacer click en el botón de <i class='bx bx-book-add'></i> <b>Crear Curso</b>, puedes crear un nuevo curso para la plataforma.</p>
    </li>
    <br>
    <li>
        <h5>Dar de alta estudiantes</h5>
        <p>Al hacer click en el botón de <i class='bx bx-user-plus'></i> <b>Dar de alta</b>, puedes dar de alta a un nuevo estudiante en la plataforma.</p>
    </li>
    <br>
    <li>
        <h5>Ver alumnos</h5>
        <p>Si haces click en el botón de <i class='bx bxs-user-detail'></i> <b>Alumnos</b> situado en la barra lateral, puedes ver los estudiantes dados de alta en la plataforma.</p>
    </li>
    <br>
    <li>
        <h5>Manual y Documentacion</h5>
        <p>Al hacer click en el botón de <i class='bx bx-question-mark'></i> <b>Manual y Documentacion</b> en la barra lateral, podrás acceder a la documentación oficial de la pagina web <b> (si eres nuevo asegurate de visitarla). </b>.</p>
    </li>
    <br>
    <li>
        <h5>Ver desempeño</h5>
        <p>Al hacer click en el botón de <i class='bx bxs-star'></i> <b>Desempeño</b> en la barra lateral, podrás ver diferentes métricas para monitorear el desempeño de los alumnos.</p>
    </li>
</ol>
</div>
{% endif %}
<div id="cursosBtnHolder">
    <a class="btn btn-warning cursosBtn" href="{{ url_for('cursos', id_rol=id_rol) }}">
        Ir a Cursos 
        <div class="icon"><i class='bx bx-arrow-from-left'></i></div>
    </a>
</div>
<br>
{% endblock %}