{% extends "cursos.html" %}

{% block title %}
  Video - {{ video[0] }}
{% endblock %}

{% block header %}
  Video - {{ video[0] }}
{% endblock %}


{% block content %}
<form action="{{ url_for('cursos') }}" method="post">
    <input type="hidden" name="id_curso" value="{{ id_curso }}">
    <button type="submit" class="btn btn-warning"><i class='bx bx-arrow-back'></i> Regresar a Curso</button>
</form>
<br>

<p>Observa el video completo para terminar esta lección.</p>

<div id="player"></div>

<br>

<h5><span id="contador"></span></h5>

<script src="https://cdn.jsdelivr.net/npm/get-video-id/dist/get-video-id.umd.min.js"></script>
<script>
  // timer
  var timerStarted = false;
  var timerInterval = null;

  var videoInfo = getVideoId('{{ video[1] }}');
  var videoId = videoInfo.id;

  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '80%',
      width: '100%',
      videoId: videoId,
      playerVars: {
        'playsinline': 1,
        'rel': 0,
        'modestbranding': 1,
        'controls': 0
      },
      events: {
        'onStateChange': onPlayerStateChange
      }
    });
  }

  // detectar fin del video
  function onPlayerStateChange(event) {
    if (event.data === YT.PlayerState.PLAYING && !timerStarted) {
      timerStarted = true;
      const duration = player.getDuration();
      const roundedDuration = Math.round(duration);
      iniciarTemporizador(roundedDuration);
    } else if (event.data === YT.PlayerState.PAUSED) {
      // Pause the timer when the video is paused
      clearInterval(timerInterval);
    } else if (event.data === YT.PlayerState.PLAYING && timerStarted) {
      // Resume the timer when the video is played again
      const remainingTime = parseInt(spanContador.textContent.split(':').reduce((acc, time) => (60 * acc) + +time));
      iniciarTemporizador(remainingTime);
    }
  }

  function subirCalificacion(id_video) {
    fetch('/subir_calificacion', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        id: id_video,
        tipo: 'Video',
        calificacion: 100
      })
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        // hacer un post para regresar a vista curso
  const form = document.createElement('form');
  form.method = 'POST';
  form.action = '{{ url_for('cursos') }}';
  
  const input = document.createElement('input');
  input.type = 'hidden';
  input.name = 'id_curso';
  input.value = {{ id_curso }};
  form.appendChild(input);
  
  document.body.appendChild(form);
  form.submit();
      } else {
        alert('Error al subir la calificación.');
      }
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  }

  const spanContador = document.getElementById("contador");

  function iniciarTemporizador(segundos) {
    clearInterval(timerInterval); // Clear any existing interval
    timerInterval = setInterval(() => {
      segundos--;
      spanContador.textContent = formatearTiempo(segundos);
  
      if (segundos === 0) {
        clearInterval(timerInterval);
        alert('¡Felicidades! Has completado la lección.');
        subirCalificacion({{ video[2] }});
      }
    }, 1000);
  }

  function formatearTiempo(segundos) {
    const h = String(Math.floor(segundos / 3600)).padStart(2, '0');
    const m = String(Math.floor((segundos % 3600) / 60)).padStart(2, '0');
    const s = String(segundos % 60).padStart(2, '0');
    return `${h}:${m}:${s}`;
  }
</script>

{% endblock %}