{% extends "base.html" %}

{% block title %}
  Video - {{ video[0] }}
{% endblock %}

{% block header %}
  Video - {{ video[0] }}
{% endblock %}

{% block sidebar_btns %}
{% if id_rol == 2 %}
<a
href="{{ url_for('crear_curso_form') }}"
class="btn {% if session['section'] == 'creacion_curso' %}btn-warning{% else %}btn-light{% endif %} text-start m-1"
>
<i class='bx bx-book-add'></i>
    Crear Curso
</a>

<p style="margin: 10px 10px 5px 0px; padding: auto;">Estudiantes</p>

<a
href="{{ url_for('alta') }}"
class="btn {% if session['section'] == 'Dar de Alta' %}btn-warning{% else %}btn-light{% endif %} text-start m-1"
>
<i class='bx bx-user-plus'></i>
    Dar de alta
</a>
{% endif %}

{% if id_rol == 3 %}
<p style="margin: 10px 10px 5px 0px; padding: auto;">Estudiantes</p>
<a
href="{{ url_for('visualizar_alumnos') }}"
class="btn {% if session['section'] == 'Vista_alumnos' %}btn-warning{% else %}btn-light{% endif %} text-start m-1"
>
<i class='bx bxs-user-detail'></i>
    Alumnos
</a>
{% endif %}

{% endblock %}

{% block content %}
<form action="{{ url_for('cursos') }}" method="post">
    <input type="hidden" name="id_curso" value="{{ id_curso }}">
    <button type="submit" class="btn btn-warning"><i class='bx bx-arrow-back'></i> Regresar a Curso</button>
</form>
<br>

<p>Observa el video hasta el final para completar esta lección.</p>

<div id="player"></div>

<script src="https://cdn.jsdelivr.net/npm/get-video-id/dist/get-video-id.umd.min.js"></script>
<script>
  var videoInfo = getVideoId('{{ video[1] }}');
  var videoId = videoInfo.id;

  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '315',
      width: '560',
      videoId: videoId,
      playerVars: {
        'playsinline': 1,
        'rel': 0,
        'modestbranding': 1
      },
      events: {
        'onStateChange': onPlayerStateChange
      }
    });
  }

  // detectar fin del video
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.ENDED) {
      alert('¡Felicidades! Has completado la lección.');
      subirCalificacion({{ video[2] }});

    }
  }

  function subirCalificacion(id_video) {
    fetch('/subir_calificacion', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        id: id_video,
        tipo: 'Video',
        calificacion: 100
      })
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        // hacer un post para regresar a vista curso
  const form = document.createElement('form');
  form.method = 'POST';
  form.action = '{{ url_for('cursos') }}';
  
  const input = document.createElement('input');
  input.type = 'hidden';
  input.name = 'id_curso';
  input.value = {{ id_curso }};
  form.appendChild(input);
  
  document.body.appendChild(form);
  form.submit();
      } else {
        alert('Error al subir la calificación.');
      }
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  }
</script>

{% endblock %}