{% extends "base.html" %}

{% block title %}
  Alumnos
{% endblock %}

{% block header %}
  Alumnos
{% endblock %}

{% block sidebar_btns %}
{% if id_rol == 2 %}
<a
href="{{ url_for('crear_curso_form') }}"
class="btn {% if session['section'] == 'creacion_curso' %}btn-warning{% else %}btn-light{% endif %} text-start m-1"
>
<i class='bx bx-book-add'></i>
    Crear Curso
</a>

<p style="margin: 10px 10px 5px 0px; padding: auto;">Estudiantes</p>

<a
href="{{ url_for('alta') }}"
class="btn {% if session['section'] == 'Dar de Alta' %}btn-warning{% else %}btn-light{% endif %} text-start m-1"
>
<i class='bx bx-user-plus'></i>
    Dar de alta
</a>
{% endif %}

{% if id_rol == 3 %}
<p style="margin: 10px 10px 5px 0px; padding: auto;">Estudiantes</p>
<a
href="{{ url_for('visualizar_alumnos') }}"
class="btn {% if session['section'] == 'Vista_alumnos' %}btn-warning{% else %}btn-light{% endif %} text-start m-1"
>
<i class='bx bxs-user-detail'></i>
    Alumnos
</a>
{% endif %}

{% endblock %}

{% block content %}
<p class="text-secondary">Aquí puedes encontrar a todos los alumnos existentes.</p>
<ul class="list-group">
  {% for alumno in alumnos %}
  <li class="list-group-item">
      <img src="{{ alumno[1] }}" alt="pfp.jpg" width="50pt" class="p-2">
      {{ alumno[0] }}
  </li>
  {% endfor %}
</ul>
{% endblock %}