{% extends "base.html" %}

{% block title %}
  Cursos - {{ nombre_curso }}
{% endblock %}

{% block header %}
  Cursos - {{ nombre_curso }}
{% endblock %}

{% block content %}
<a
    href="{{ url_for('cursos') }}"
    class="btn btn-warning"
>
  <i class='bx bx-arrow-back'></i> Regresar a Cursos
</a>

<br>
<br>

<p class="text-secondary">{{ descripcion_curso }}</p>
<br>









<!-- Parte del profesor -->
{% if session['id_rol'] == 3 %}

<h5>Alumnos asignados a este curso:</h5>
<ol class="list-group list-group-numbered">
  {% for asignado in asignados %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold">{{ asignado[0] }}</div>
    </div>
    <a href="{{ url_for('remover_alumno', id_curso=id_curso, id_alumno=asignado[1]) }}">
      <button class="btn btn-danger">-</button>
    </a>
  </li>
  {% endfor %}
</ol>
<br>

<a href="{{ url_for('alumnos_todos', id_curso=id_curso, tipo='remover') }}">
  <button class="btn btn-danger">Remover todos</button>
</a>
<a href="{{ url_for('alumnos_todos', id_curso=id_curso, tipo='asignar') }}">
  <button class="btn btn-success">Asignar todos</button>
</a>
<br>
<br>

<h5>Alumnos no asignados a este curso:</h5>
<ol class="list-group list-group-numbered">
  {% for no_asignado in no_asignados %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold">{{ no_asignado[0] }}</div>
    </div>
    <a href="{{ url_for('asignar_alumno', id_curso=id_curso, id_alumno=no_asignado[1]) }}">
      <button class="btn btn-success">+</button>
    </a>
  </li>
  {% endfor %}
</ol>

<br>
<br>
{% endif %}

<!-- Alumno -->
{% if session['id_rol'] == 1 %}

<h5>Progreso: {{ progreso }}%</h5>
<br>
<div class="progress" style="height: 30px;">
  <div class="progress-bar" role="progressbar" style="width: {{ progreso }}%;" aria-valuenow="{{ progreso }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>



{% endif %}

{% for modulo in modulos %}
  <h5>{{ modulo[0][0] }}</h5>

  <ol class="list-group list-group-numbered">
    {% for leccion in modulo[1] %}
    <li>
      <a class="list-group-item d-flex justify-content-between align-items-start" href="{{ url_for('leccion', id_curso=id_curso, tipo=leccion[0][1], id=leccion[0][0]) }}">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{ leccion[0][3] }}</div>
        </div>
          {% if leccion[1] != -1 %}
            <span class="badge text-bg-primary rounded-pill">{{ leccion[1] }}</span>
          {% endif %}


          <span class="badge text-bg-warning rounded-pill" style="margin-left: 10px;">{{ leccion[0][1] }}</span>

          
      </a>
    </li>

    {% endfor %}
  </ol>
  <br>

{% endfor %}



{% endblock %}

