{% extends "base.html" %}

{% block title %}
  WhirlChat
{% endblock %}

{% block header %}
    WhirlChat
{% endblock %}

{% block content %}
<div class="mt-3">
    {% for msg in history %}
        <div class="mb-2">
            <strong>{{ "Tú" if msg.role == "user" else "WhirlChat" }}:</strong>
            <p>{{ msg.content }}</p>
        </div>
    {% endfor %}
</div>

<div class="chat-container d-flex flex-column justify-content-end">
    <form method="POST" action="/whirlChat" class="d-flex">
        <input type="text" name="message" class="form-control me-2" placeholder="Habla con WhirlChat" required>
        <button type="submit" class="btn btn-warning"><i class='bx bxs-send'></i></button>
    </form>
</div>

<style>
    .chat-container {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        background-color: #f8f9fa; /* Optional: Background color for the chat input area */
    }
</style>
{% endblock %}